block variables

doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{title}
    meta(content=description name="description")
    meta(content=keywords name="keywords")

    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    //- link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    //- favicon block end

    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/app.css')

    <!--[if lt IE 9]>
    script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->

  body
    block content

    block scripts

