footer.footer
  .container
    .footer__main
      .footer__col.footer__col_1
        a.logo.logo_grey(href='./') Банкротовед
      .footer__col #[b ООО "Банкротовед":]#[br] ОГРН 1151690015454 | ИНН 1655321550
      .footer__col.footer__col_last
        a.footer__link(href='https://bankrotoved.ru/' target='_blank') Перейти на основной сайт компании "Банкротовед"
        a.footer__link.js-popup(href='#policy' data-target='#popup-policy') Соглашение об обработке персональных данных
    .footer__copyright © Федеральная Юридическая Компания "Банкротовед", 2016 год, все права защищены.