header.header
  .container
    .header__main
      .header__col.header__col_1
        a.logo(href='./') Банкротовед
      .header__col.header__col_2
        .city-selector
          .city-selector__selector
            span.city-selector__label Ваш город:
            a.city-selector__link.js-popup.js-city__name(href="#" data-target='#popup-cities') <?php echo $cityname; ?>
          span.city-selector__address.js-city__address <?php echo $addr; ?>
      .header__col
        .contact-block
          a.contact-block__phone.js-city__phone(href!="tel:+<?php echo preg_replace('/[^0-9]/', '', $phone); ?>") <?php echo $phone; ?>
          a.contact-block__phone(href='tel:88002005919') #[small 8 (800)] 200-59-19
          span.contact-block__shedule с 9:00 до 21:00 без выходных
      .header__col.header__col_right
        <?php if (!empty($_GET['tracking'])): ?>
        .promo-code
          span.promo-code__label Промокод:
          span.promo-code__code <?php echo $promo; ?>
        <?php endif; ?>