.map
  .map__map.draggable#map
  .container
    .map__main
      span.map__header Контакты
      .map__address
        span.map__label Адрес:
        span.js-city__address <?php echo $addr; ?>
      .map__address
        span.map__label Телефон:
        a.map__phone.js-city__phone(href='tel:88002005919') #[small 8 (800)] 200-59-19