section.offer
  .container
    .offer__container
      h1.offer__header <?php echo $title ?>
      span.offer__description <?php echo $subtitle ?>
      .offer__btn
        button.button(data-target="#popup-feedback").js-popup Заказать безопасную ликвидацию