.slide4
  .container
    span.slide4__header #[b Банкротовед] - один из сильнейших игроков #[small на рынке банкротства в России]
    span.slide4__subheader #[b Мы – Федеральная компания. Наши офисы работают по всей России.] Большое количество клиентов позволило нам накопить гигантский опыт в области ликвидации фирм через банкротство.
    ul.slide4__list
      li.slide4__item
        +card-with-icon.card-with-icon_1 #[b У нас есть огромное количество положительных отзывов:] на сайте, в интернете. Приходите к нам - весь наш офис весь увешан благодарственными письмами клиентов
      li.slide4__item.slide4__item_last
        +card-with-icon.card-with-icon_2 #[b Все наши специалисты имеют дипломы лучших ВУЗов России о высшем юридическом образовании,] а так же огромный опыт работы, в том числе, и в судах
      li.slide4__item
        +card-with-icon.card-with-icon_3 #[b В нашем штате есть арбитражные управляющие.] Они являются ключевыми фигурами в деле о банкротстве. Сложно найти другую такую юридическую компанию
      li.slide4__item.slide4__item_last
        +card-with-icon.card-with-icon_4 #[b У нас есть реальный опыт в банкротстве заводов, предприятий.] Мы обладаем досточным опытом для ведения самых сложных банкротных дел
      li.slide4__item
        +card-with-icon.card-with-icon_5 #[b Мы ведем один из крупнейших в России интернет-форумов о банкротстве.] Десятки людей обращаются к нам каждый день с вопросами
      li.slide4__item.slide4__item_last
        +card-with-icon.card-with-icon_6 #[b У нашей компании есть свое развитое сообщество ВКонтакте,] где задается огромное количество вопросов на тему кредитования и избавления от долгов
      li.slide4__item
        +card-with-icon.card-with-icon_7 #[b К нашему мнению прислушиваются.] У наших специалистов берут интервью авторитетнейшие издания. Одно из последних - интервью для “Слон.ру” о банкротстве граждан