.slide3.slide3_3
  .container
    .slide3__main
      .info-block.info-block_1
        .info-block__header
          .info-block__header-num III
          .info-block__header-text #[b Обеспечение защиты вашего имущества]#[br]и имущества ваших близких
        .info-block__main
          .info-block__text Зачастую первым лицам компании приходится отвечать за долги компании своим имуществом. Так же в зоне риска - имущество родственников и сделки в прошлом. Особенно остро эта проблема встает при ликвидации организации.
          .info-block__important-text Наша гордость - это отлаженные и проверенные способы надежно защитить ваше имущество и имущество ваших близких от реализации в процедуре ликвидации фирмы. #[b Все ваше останется при вас.]
          .info-block__button
            button.button.button_s.js-popup(data-target='#popup-feedback') Заказать банкротство без потерь
    .slide3__img