.slide3.slide3_4
  .container
    .slide3__main
      .info-block.info-block_1
        .info-block__header
          .info-block__header-num IV
          .info-block__header-text #[b Использование только законных, проверенных]#[br]методов ликвидации
        .info-block__main
          .info-block__text Ликвидация фирмы-должника любым способом кроме банкротства - это игра с огнем. Лишь процедура ликвидации, проведенная в соответствии с законом о банкротстве (№127-ФЗ), может считаться безопасной.
          .info-block__important-text Мы не используем серые схемы ликвидации вроде смены директора и перевода компании в другой регион. Мы с вами прекрасно понимаем, что это давно не работает и чревато огромными потерями или даже вынужденным “отдыхом” в санатории с решётками на окнах. #[b Мы играем чисто, чтобы вы могли спать спокойно.]
          .info-block__button
            button.button.button_s.js-popup(data-target='#popup-feedback') Заказать чистое банкротство
    .slide3__img