.slide3.slide3_5
  .container
    .slide3__main
      .info-block.info-block_2
        .info-block__header
          .info-block__header-num V
          .info-block__header-text #[b Экономия времени <br> и нервов руководителя]
        .info-block__main
          .info-block__text Ликвидация фирмы - это процедура, которая может отнять все ваше время и занять все ваши мысли. Лучше потратить эти самые ценные ресурсы на развитие нового/параллельного проекта, а банкротство делегировать заслуживающиму доверия представителю.
          .info-block__important-text Мы ликвидируем компании “под ключ”. Наша работа построена таким образом, чтобы свести к минимуму участие клиента в процедуре. Мы понимаем, что ваше время стоит денег. #[b Всё просто - вы занимаетесь своими делами, а юристы ЮК "Банкротовед" добиваются поставленной задачи.]
          .info-block__button
            button.button.button_s.js-popup(data-target='#popup-feedback') Заказать удобное банкротство
    .slide3__img