.slide3.slide3_6
  .container
    .slide3__main
      .info-block.info-block_1
        .info-block__header
          .info-block__header-num VI
          .info-block__header-text #[b Правильный выбор<br>исполнителя] для проведения процедуры банкротства
        .info-block__main
          .info-block__text Ликвидация компании через банкротство - это процедура, которая требует профессионального подхода. Она попросту неподъемна для одного человека или небольшой юридической организации. Только крупные юридические компании способны взять банкротство на свои плечи и главное - довести этот процесс до нужного результата.
          .info-block__video
            iframe(src='https://www.youtube.com/embed/qf0xMxWCCPs')
          .info-block__video-text О компании “Банкротовед” за 2 минуты
    .slide3__img