.slide3.slide3_2
  .container
    .slide3__main
      .info-block
        .info-block__header
          .info-block__header-num II
          .info-block__header-text #[b Защита вашей репутации]
        .info-block__main
          .info-block__text Не секрет, что кредиторы и связанные с ними лица не стесняются использовать любые способы взыскания долгов. Репутационные риски - одна из главных проблем ликвидации фирмы.
          .info-block__important-text Мы оградим вас от репутационных рисков, связанных с ликвидацией организации. Мы гарантируем полную конфиденциальность и защиту от неблагоприятных последствий в будущем. Ликвидация с ЮК "Банкротовед" - #[b это тихая слаженная работа на результат, о которой будем знать только мы и вы.]
          .info-block__button
            button.button.button_s.js-popup(data-target='#popup-feedback') Заказать тихое банкротство
    .slide3__img