.slide2
  .container
    .slide2__wrapper
      .slide2__center
        .hero
          .hero__header
            span.hero__num-wrapper
              span.hero__num VI
            | столпов,
          span.hero__subheader на которых стоит #[b успешная ликвидация фирмы]
          span.hero__text Соблюдение этих #[b шести главных правил] является залогом благоприятного результата ликвидации предприятия