.slide3.slide3_1
  .container
    .slide3__main
      .info-block
        .info-block__header
          .info-block__header-num I
          .info-block__header-text #[b Ваша личная безопасность -]#[br]превыше всего
        .info-block__main
          .info-block__text Груз ответственности за проблемы организации лежит на её первых лицах. Необдуманные действия могут привести к плачевным последствиям.
          .info-block__important-text Первоочередная задача юристов ЮК "Банкротовед" - защитить вас от негативных последствий процедуры ликвидации. Ваша безопасность - это краеугольный камень нашей работы. #[b Мы гарантируем надежную защиту первым лицам компании.]
          .info-block__button
            button.button.button_s.js-popup(data-target='#popup-feedback') Заказать безопасное банкротство
    .slide3__img