/*-----------------------------------------------------------------------------
    bar-textnum
-----------------------------------------------------------------------------*/
.bar-textnum {
  text-align: center;

  background-color: $color2;

  @include rem(height, 76px);
  @include rem(font-size, 24px);
  @include rem(line-height, 76px);
  @include breakpoint($screen2) {
    height: auto;
    padding: 1em 0;

    line-height: 1.22;
  }

  &__text {
    display: inline-block;

    margin-right: 1em;

    vertical-align: top;

    color: $color5;

    font-weight: 700;

    @include breakpoint($screen2) {
      display: block;

      margin-bottom: 1em;
    }
  }

  &__num {
    display: inline-block;

    vertical-align: top;

    color: $color5;
    background-color: $color8;

    font-family: $font2;
    font-weight: 700;

    @include rem(height, 76px);
    @include rem(padding, 0 14px);
    @include rem(font-size, 45px);
    @include breakpoint($screen2) {
      @include rem(line-height, 76px);
    }
  }
}
/*-----------------------------------------------------------------------------
    /bar-textnum
-----------------------------------------------------------------------------*/