/*-----------------------------------------------------------------------------
    button
-----------------------------------------------------------------------------*/
.button {
  text-transform: uppercase;

  color: $color5;
  border: none;
  background-color: $color2;

  font-family: $font1;
  font-weight: 700;

  @include rem(height, 66px);
  @include rem(padding, 0 29px);
  @include rem(font-size, 18px);
  @include breakpoint($screen2) {
    @include rem2(height, 40px);
  }

  &:hover {
    background-color: lighten($color2, 3.5);
  }
  &:active {
    background-color: darken($color2, 5.1);
  }
}
/*-----------------------------------------------------------------------------
    /button
-----------------------------------------------------------------------------*/