/*-----------------------------------------------------------------------------
    card-with-icon
-----------------------------------------------------------------------------*/
.card-with-icon {
  position: relative;

  @include rem(min-height, 90px);
  @include rem(padding-left, 122px);
  @include breakpoint($screen2) {
    padding-left: 0;
    text-align: center;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;

    @include breakpoint($screen2) {
      position: static;

      display: block;

      margin: 0 auto 1.5em;
    }
    
    .card-with-icon_1 & {
      @include sprite($card-icon-1)
    }

    .card-with-icon_2 & {
      @include sprite($card-icon-2)
    }

    .card-with-icon_3 & {
      @include sprite($card-icon-3)
     }

    .card-with-icon_4 & {
      @include sprite($card-icon-4)
    }

    .card-with-icon_5 & {
      @include sprite($card-icon-5)
    }

    .card-with-icon_6 & {
      @include sprite($card-icon-6)
    }

    .card-with-icon_7 & {
      @include sprite($card-icon-7)
    }
  }

  &__text {
    @include rem(font-size, 18px);

    b {
      color: $color2;
    }
  }
}
/*-----------------------------------------------------------------------------
    /card-with-icon
-----------------------------------------------------------------------------*/