/*-----------------------------------------------------------------------------
    city-selector
-----------------------------------------------------------------------------*/
.city-selector {
  text-align: center;

  @include rem(font-size, 17px);
  @include breakpoint($screen1) {
    @include rem1(font-size, 14px);
  }

  &__selector {
    font-weight: 700;
  }

  &__label {
    margin-right: .25em;

    @include breakpoint($screen2) {
      display: block;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;

    color: $color2;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__address {
    display: block;

    color: $color3;
  }
}
/*-----------------------------------------------------------------------------
    /city-selector
-----------------------------------------------------------------------------*/