/*-----------------------------------------------------------------------------
    contact-block
-----------------------------------------------------------------------------*/
.contact-block {
  text-align: center;

  &__phone {
    display: block;

    transition: color .25s;
    text-decoration: none;

    color: $color3;

    font-weight: 700;

    @include rem(font-size, 24px);
    @include breakpoint($screen1) {
      @include rem1(font-size, 18px);
    }

    &:hover {
      color: $color2;
    }

    small {
      @include rem(font-size, 20px);
      @include breakpoint($screen1) {
      @include rem1(font-size, 14px);
    }
    }
  }

  &__shedule {
    @include rem(font-size, 15px);
    @include breakpoint($screen1) {
      @include rem1(font-size, 14px);
    }
  }
}
/*-----------------------------------------------------------------------------
    /contact-block
-----------------------------------------------------------------------------*/