/*-----------------------------------------------------------------------------
    feedback
-----------------------------------------------------------------------------*/
.feedback {
  &__header {
    display: block;

    text-align: center;
    text-transform: uppercase;

    font-family: $font2;
    font-weight: 700;

    @include rem(font-size, 30px);
    @include rem(margin-bottom, 10px);

    b {
      display: block;

      color: $color2;

      @include rem(font-size, 40px);
      @include rem(margin-bottom, 10px);
    }

    .feedback_popup & {
      @include rem(font-size, 20px);

      b {
        @include rem(font-size, 30px);
      }
    }
  }

  &__subheader {
    display: block;

    text-align: center;

    @include rem(font-size, 20px);
    @include rem(margin-bottom, 35px);

    .feedback_popup & {
      @include breakpoint($screen2) {
        @include rem2(font-size, 12px);
      }
    }
  }

  &__form {
    display: block;

    text-align: center;

    @include rem(margin-bottom, 35px);

    .feedback_popup & {
      @include rem(margin-bottom, 25px);
    }
  }

  &__input {
    .feedback_slide & {
      display: inline-block;
      vertical-align: top;
      margin-left: -.25em;

      @include rem(width, 320px);
      @include rem(margin-right, 20px);
      @include breakpoint($screen1) {
        @include rem2(width, 200px);
      }
      @include breakpoint($screen2) {
        display: block;

        @include rem(width, 320px);
        @include rem(margin, 0 auto 10px);
      }

      &_last {
        margin-right: 0;

        @include breakpoint($screen2) {
          margin-right: auto;
        }
      }

      .button {
        width: 100%;
      }
    }

    .feedback_popup & {
      display: block;

      @include rem(width, 320px);
      @include rem(margin, 0 auto 10px);
      @include breakpoint($screen2) {
        width: auto;
      }
    }
  }

  &__hint {
    display: block;

    text-align: center;

    font-weight: 700;

    @include rem(font-size, 24px);

    .feedback_popup & {
      @include rem(font-size, 20px);
    }
  }

  &__phone {
    color: $color1 !important;
    text-decoration: none;
    margin-left: .25em;

    &:hover {
      border-bottom: 1px solid $color1;
    }
  }
}
/*-----------------------------------------------------------------------------
    /feedback
-----------------------------------------------------------------------------*/