/*-----------------------------------------------------------------------------
    footer
-----------------------------------------------------------------------------*/
.footer {
  @include rem(padding, 35px 0);
  @include rem(font-size, 16px);
  @include breakpoint($screen2) {
    text-align: center;
  }

  &__main {
    @extend %clearfix;
    @include rem(margin-bottom, 20px);
  }

  &__col {
    float: left;

    max-width: 40%;
    margin-right: 3%;

    @include breakpoint($screen1) {
      max-width: 34%;
    }
    @include breakpoint($screen2) {
      float: none;

      max-width: 100%;
      margin: 0 0 1em;
    }


    &_1 {
      max-width: 100%;
    }

    &_last {
      margin-right: 0;

      @include breakpoint($screen2) {
        margin-right: auto;
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;

    text-decoration: underline;

    color: $color2;

    font-weight: 700;

    @include rem(font-size, 14px);

    &:hover {
      text-decoration: none;
    }
  }

  &__copyright {
    display: block;

    text-align: center;

    color: $color4;
  }
}
/*-----------------------------------------------------------------------------
    /footer
-----------------------------------------------------------------------------*/