/*-----------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------*/
.header {
  &__main {
    @extend %clearfix;
  }

  &__col {
    float: left;

    max-width: 25%;
    margin-right: 5%;

    vertical-align: top;

    @include breakpoint($screen1) {
      margin-right: 2%;
    }
    @include breakpoint($screen2) {
      float: none;

      max-width: 100%;
      margin: 0 auto 1.5em;
    }

    &_1 {
      max-width: 100%;
    }
    &_2 {
      width: 35%;
    }
    &_1 {
      max-width: 100%;
    }

    &_right {
      float: right;

      margin-right: 0;

      @include breakpoint($screen2) {
        float: none;

        margin-right: auto;
      }
    }
  }
}
/*-----------------------------------------------------------------------------
    /header
-----------------------------------------------------------------------------*/
