/*-----------------------------------------------------------------------------
    hero
-----------------------------------------------------------------------------*/
.hero {
  text-align: center;
  
  &__header {
    display: block;

    text-transform: uppercase;

    color: $color2;

    font-family: $font2;
    font-weight: 700;
    line-height: 1;

    @include rem(margin-bottom, 10px);
    @include rem(font-size, 60px);
  }

  &__num-wrapper {
    display: block;
  }

  &__num {
    position: relative;

    display: inline-block;

    font-weight: 400;

    @include rem(font-size, 150px);
    &:before, &:after {
      position: absolute;

      display: block;

      content: '';

      background-color: $color2;

      @include rem(top, 150px / 2);
      @include rem(width, 130px);
      @include rem(height, 2px);
      @include breakpoint($screen2) {
        @include rem2(width, 75px);
      }
    }
    &:before {
      @include rem(left, -164px);
      @include breakpoint($screen2) {
        @include rem2(left, -75px);
      }
    }
    &:after {
      @include rem(right, -164px);
      @include breakpoint($screen2) {
        @include rem2(right, -75px);
      }
    }
  }

  &__subheader {
    display: block;

    font-family: $font2;

    @include rem(margin-bottom, 15px);
    @include rem(font-size, 40px);

    b {
      font-weight: 700;
    }
  }

  &__text {
    display: block;

    width: 74%;
    margin: 0 auto;

    @include rem(font-size, 24px);
    
    b {
      border-bottom: 1px solid $color1;

      font-weight: 700;
    }
  }
}
/*-----------------------------------------------------------------------------
    /hero
-----------------------------------------------------------------------------*/