/*-----------------------------------------------------------------------------
    info-block
-----------------------------------------------------------------------------*/
.info-block {
  &__header {
    position: relative;

    display: table;

    border: 5px solid $color2;

    line-height: 1.15;

    @extend %clearfix;
    @include rem(margin-bottom, 30px);
    @include breakpoint($screen2) {
      display: block;
    }

    .info-block_1 & {
      @include rem(width, 810px);
      @include breakpoint($screen2) {
        width: auto;
      }
    }
  }

  &__header-num {
    display: table-cell;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: $color5;
    background-color: $color2;

    font-family: $font2;

    @include rem(width, 110px);
    @include rem(font-size, 80px);
    @include breakpoint($screen2) {
      display: none;
    }
  }

  &__header-text {
    display: table-cell;
    float: left;

    text-transform: uppercase;

    color: $color2;

    font-family: $font2;
    font-weight: 700;

    @include rem(padding, 30px 20px 30px 25px);
    @include rem(font-size, 30px);
    @include breakpoint($screen2) {
      display: block;

      text-align: center;
    }

    b {
      @include rem(font-size, 40px);
    }
  }

  &__main {
    width: 75%;

    @include rem(padding-left, 140px);
    @include breakpoint($screen2) {
      width: auto;
      padding: 0;

      text-align: center;
    }

    .info-block_2 & {
      width: 90%;

      @include breakpoint($screen2) {
        width: auto;
      }
    }
  }

  &__text {
    display: block;

    color: $color7;

    @include rem(margin-bottom, 30px);
    @include rem(font-size, 18px);
  }

  &__important-text {
    border-left: 5px solid $color2;

    font-family: $font2;

    @include rem(font-size, 22px);
    @include rem(padding-left, 25px);
    @include rem(margin, 0 0 35px -30px);

    b {
      font-weight: 700;
    }
  }

  &__video {
    width: 100%;

    @include rem(margin-bottom, 30px);
    @include rem(height, 358px);

    iframe {
      display: block;

      width: 100%;
      height: 100%;

      border: none;
    }
  }

  &__video-text {
    display: block;

    text-align: center;

    font-weight: 500;

    @include rem(font-size, 20px);
  }

  &__button {

  }
}
/*-----------------------------------------------------------------------------
    /info-block
-----------------------------------------------------------------------------*/