/*-----------------------------------------------------------------------------
    input
-----------------------------------------------------------------------------*/
.input {
  display: block;

  width: 100%;

  border: 1px solid #e6e6e6;

  font-family: $font1;

  @include rem(height, 66px);
  @include rem(font-size, 16px);
  @include rem(padding, 0 25px);
  @include breakpoint($screen2) {
    @include rem2(height, 40px);
  }

  &:focus {
    border-color: darken(#e6e6e6, 20);
  }

  &.error {
    color: #ff0000;
  }
}
/*-----------------------------------------------------------------------------
    /input
-----------------------------------------------------------------------------*/