/*-----------------------------------------------------------------------------
    Layout
-----------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;

  max-width: 100%;

  @include rem(min-width, 1040px);
  @include breakpoint($screen1) {
    @include rem1(min-width, 768px);
  }
  @include breakpoint($screen2) {
    @include rem2(min-width, 320px);
  }
}

.container {
  margin: 0 auto;

  @include rem(width, 1040px);
  @include rem(padding, 0 20px);
  @include breakpoint($screen1) {
    @include rem1(width, 768px);
    @include rem1(padding, 0 20px);
  }
  @include breakpoint($screen2) {
    @include rem2(width, 320px);
    @include rem2(padding, 0 10px);
  }
}
/*-----------------------------------------------------------------------------
    /Layout
-----------------------------------------------------------------------------*/