/*-----------------------------------------------------------------------------
    logo
-----------------------------------------------------------------------------*/
.logo {
  display: block;

  text-indent: -9999px;

  background: url('../img/logo.png') no-repeat;

  @include rem(width, 250px);
  @include rem(height, 48px);
  @include rem(background-size, 250px 48px);
  @include breakpoint($screen2) {
    margin: 0 auto;
  }

  &_grey {
    background-image: url('../img/logo-grey.png');

    @include rem(width, 210px);
    @include rem(height, 40px);
    @include rem(background-size, 210px 40px);
  }
}
/*-----------------------------------------------------------------------------
    /logo
-----------------------------------------------------------------------------*/