/*-----------------------------------------------------------------------------
    map
-----------------------------------------------------------------------------*/
.map {
  position: relative;

  @include rem(min-height, 500px);
  @include rem(padding, 120px);
  @include breakpoint($screen1) {
    @include rem1(font-size, 120px 50px);
  }
  @include breakpoint($screen2) {
    @include rem2(padding, 50px 0 0);
  }

  &__map {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  [class*='ymaps-2'][class*='-ground-pane'] {
    filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    -webkit-filter: grayscale(100%);
  }

  &__main {
    position: relative;
    z-index: 1;

    display: block;

    background-color: rgba($color5, .8);

    @include rem(max-width, 390px);
    @include rem(padding, 50px);
    @include rem(font-size, 20px);
    @include breakpoint($screen2) {
      @include rem2(padding, 25px);
      @include breakpoint($screen2) {
        max-width: 100%;
        width: auto;
      }
    }
  }

  &__header {
    display: block;

    text-transform: uppercase;

    color: $color2;

    font-family: $font2;
    font-weight: 700;

    @include rem(font-size, 40px);
    @include rem(margin-bottom, 15px);
  }

  &__address {
    display: block;

    margin-bottom: 1em;
  }

  &__label {
    display: block;

    margin-bottom: .15em;

    text-transform: uppercase;

    font-weight: 700;
  }

  &__phone {
    text-decoration: none;

    color: $color1;
    
    &:hover {
      text-decoration: underline;
    }
    
    small {
      font-size: inherit;
    }
  }
}
/*-----------------------------------------------------------------------------
    /map
-----------------------------------------------------------------------------*/