/*-----------------------------------------------------------------------------
    offer
-----------------------------------------------------------------------------*/
.offer {
  &__container {
    float: right;

    @include rem(width, 670px);
    @include breakpoint($screen1) {
      float: none;

      margin: 0 auto;
      text-align: center;
    }
    @include breakpoint($screen2) {
      float: none;
      width: auto;
    }
  }

  &__header {
    display: block;

    font-family: $font2;
    font-weight: 400;
    line-height: 1.15;

    @include rem(margin, 0 0 15px);
    @include rem(font-size, 46px);
  }

  &__description {
    display: block;

    @include rem(font-size, 26px);
    @include rem(margin-bottom, 25px);
  }

  &__button {
  }

  b {
    color: $color2;

    font-weight: 700;
  }
}
/*-----------------------------------------------------------------------------
    /offer
-----------------------------------------------------------------------------*/