/*-----------------------------------------------------------------------------
    popup
-----------------------------------------------------------------------------*/
.popup {
  display: none;

  &__main {
    @include rem(padding, 50px 40px);
    @include rem(width, 580px);
    @include rem(font-size, 16px);
    @include breakpoint($screen2) {
      width: auto;
    }

    .popup_l & {
      width: auto;
    }

    a {
      color: $color2;
    }
  }

  &__header {
    display: block;

    margin-bottom: 1em;

    text-align: center;

    color: $color2;

    font-family: $font2;
    font-weight: 700;

    @include rem(font-size, 32px);
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    display: inline-block;

    width: 45%;
    margin: 0 2% .5em;

    vertical-align: top;
  }

  &__link {
    color: $color1 !important;

    &.active {
      text-decoration: none;

      color: $color2 !important;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
/*-----------------------------------------------------------------------------
    /popup
-----------------------------------------------------------------------------*/