/*-----------------------------------------------------------------------------
    promo-code
-----------------------------------------------------------------------------*/
.promo-code {
  text-align: center;

  font-weight: 700;
  &__label {
    display: block;

    text-transform: uppercase;

    color: $color3;

    @include rem(margin-bottom, 5px);
    @include rem(font-size, 18px);
  }
  &__code {
    display: inline-block;

    color: $color5;
    background-color: $color2;

    line-height: 1;

    @include rem(font-size, 25px);
    @include rem(padding, 6px 4px);
  }
}
/*-----------------------------------------------------------------------------
    /promo-code
-----------------------------------------------------------------------------*/