/*-----------------------------------------------------------------------------
    slide3
-----------------------------------------------------------------------------*/
.slide3 {
  position: relative;
  
  &_1 {
    background-color: $color6;

    @include rem(height, 725px);
    @include breakpoint($screen2) {
      height: auto;
      min-height: 0;
    }
  }

  &_2 {
    @include bg-cover('../img/bg-3.jpg');
    @include rem(min-height, 740px);
    @include breakpoint($screen2) {
      height: auto;
      min-height: 0;
    }
  }

  &_3 {
    @include bg-cover('../img/bg-4.jpg');
    @include rem(height, 756px);
    @include breakpoint($screen2) {
      height: auto;
      min-height: 0;
    }
  }

  &_4 {
    background: $color5;

    @include rem(min-height, 778px);
    @include breakpoint($screen1) {
      @include rem1(padding-bottom, 80px);
    }
    @include breakpoint($screen2) {
      height: auto;
      min-height: 0;
    }
  }

  &_5 {
    @include bg-cover('../img/bg-5.jpg');
    @include rem(height, 764px);
    @include breakpoint($screen2) {
      height: auto;
      min-height: 0;
    }
  }

  &_6 {
    background: $color5;

    @include rem(min-height, 965px);
    @include breakpoint($screen2) {
      height: auto;
      min-height: 0;
    }
  }

  &__main {
    position: relative;
    z-index: 1;

    @include rem(padding, 110px 0);
    @include breakpoint($screen1) {
      @include rem(padding, 90px 0);
    }

    .slide3_1 & {
    }

    .slide3_2 & {
      & > * > * {
        float: right;
        @include breakpoint($screen2) {
          float: none;
        }
      }
    }

    .slide3_3 & {
    }

    .slide3_4 & {
      & > * > * {
        float: right;
        @include breakpoint($screen2) {
          float: none;
        }
      }
    }

    .slide3_5 & {
    }

    .slide3_6 & {
      & > * > * {
        float: right;
        @include breakpoint($screen2) {
          float: none;
        }
      }
    }
  }

  &__img {
    position: absolute;

    display: block;

    background: 50% 50% no-repeat;

    @include breakpoint($screen2) {
      display: none;
    }

    .slide3_1 & {
      z-index: 2;
      bottom: 0;

      background-image: url('../img/stolp1.png');

      @include rem(width, 720px);
      @include rem(height, 773px);
      @include rem(right, -450px);
      @include rem(background-size, 720px 773px);
      @include breakpoint($screen1) {
        @include rem1(right, -520px);
      }
    }

    .slide3_2 & {
      z-index: 0;

      background-image: url('../img/stolp2.png');

      @include rem(width, 630px);
      @include rem(height, 435px);
      @include rem(top, 142px);
      @include rem(left, -370px);
      @include rem(background-size, 630px 435px);
      @include breakpoint($screen1) {
        @include rem1(top, 155px);
      }
    }

    .slide3_3 & {
      z-index: 2;
      bottom: 0;

      background-image: url('../img/stolp3.png');

      @include rem(width, 956px);
      @include rem(height, 756px);
      @include rem(right, -490px);
      @include rem(background-size, 956px 756px);
      @include breakpoint($screen1) {
        @include rem1(right, -482px);
      }
    }

    .slide3_4 & {
      z-index: 0;

      background-image: url('../img/stolp4.png');

      @include rem(width, 630px);
      @include rem(height, 435px);
      @include rem(top, 142px);
      @include rem(left, -370px);
      @include rem(background-size, 630px 435px);
      @include breakpoint($screen1) {
        @include rem1(top, 190px);
        @include rem1(left, -390px);
      }
    }

    .slide3_5 & {
      z-index: 0;
      bottom: 0;

      background-image: url('../img/stolp5.png');

      @include rem(width, 901px);
      @include rem(height, 529px);
      @include rem(right, -283px);
      @include rem(background-size, 901px 529px);
      @include breakpoint($screen1) {
        @include rem1(right, -450px);
      }
    }

    .slide3_6 & {
      z-index: 0;

      background-image: url('../img/stolp6.png');

      @include rem(width, 630px);
      @include rem(height, 435px);
      @include rem(top, 182px);
      @include rem(left, -383px);
      @include rem(background-size, 630px 435px);
      @include breakpoint($screen1) {
        @include rem1(top, 190px);
        @include rem1(left, -390px);
      }
    }
  }

  .container {
    position: relative;

    height: 100%;
  }
}
/*-----------------------------------------------------------------------------
    /slide3
-----------------------------------------------------------------------------*/