/*-----------------------------------------------------------------------------
    slide4
-----------------------------------------------------------------------------*/
.slide4 {
  @include bg-cover('../img/bg-6.jpg');
  @include rem(min-height, 948px);
  @include rem(padding, 90px 0 60px);

  &__header {
    display: block;

    text-align: center;
    text-transform: uppercase;

    font-family: $font2;

    @include rem(font-size, 40px);
    @include rem(margin-bottom, 20px);

    b {
      color: $color2;

      font-weight: 700;
    }

    small {
      text-transform: none;
    }
  }

  &__subheader {
    display: block;

    width: 90%;
    margin: 0 auto;

    text-align: center;

    font-weight: 300;

    @include rem(font-size, 24px);
    @include rem(margin-bottom, 40px);

    b {
      font-weight: 700;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    display: inline-block;

    vertical-align: top;

    @include rem(width, 480px);
    @include rem(margin, 0 30px 30px 0);
    @include breakpoint($screen1) {
      @include rem1(width, 320px);
    }

    &_last {
      margin-right: 0;
      @include breakpoint($screen2) {
        margin-right: auto;
      }
    }
  }
}
/*-----------------------------------------------------------------------------
    /slide4
-----------------------------------------------------------------------------*/