/*-----------------------------------------------------------------------------
    slide1
-----------------------------------------------------------------------------*/
.slide1 {
  position: relative;

  @include bg-cover('../img/bg-1.jpg');
  @include rem(min-height, 706px);
  @include rem(padding, 34px 0);
  @include breakpoint($screen2) {
    @include rem2(padding-bottom, 60px);
  }


  &__header {
    @include rem(margin-bottom, 115px);
    @include breakpoint($screen2) {
      @include rem2(margin-bottom, 35px);
    }
  }

  &__main {

  }
}
/*-----------------------------------------------------------------------------
    /slide1
-----------------------------------------------------------------------------*/