/*-----------------------------------------------------------------------------
    slide2
-----------------------------------------------------------------------------*/
.slide2 {
  @include bg-cover('../img/bg-2.jpg');
  @include rem(height, 480px);
  @include breakpoint($screen2) {
    height: auto;

    @include rem(min-height, 480px);
    @include rem2(padding, 40px 0);
  }

  &__wrapper {
    display: table;

    height: 100%;
  }

  &__center {
    display: table-cell;

    height: 100%;

    vertical-align: middle;
  }

  .container {
    height: 100%;
  }
}
/*-----------------------------------------------------------------------------
    /slide2
-----------------------------------------------------------------------------*/