mixin feedback
  .feedback&attributes(attributes)
    span.feedback__header #[b Обратитесь в “Банкротовед”<br>прямо сейчас!] Консультация бесплатна!
    span.feedback__subheader Заполните форму и мы перезвоним вам в течение часа (в рабочие дни).
    form.feedback__form(action='#')
      input.js-city__input(type="hidden" name="promo" value!="<?php echo $promo; ?>")
      input(type="hidden" name="city" value!="<?php echo $cityname; ?>")
      .feedback__input
        input.input(type='text' name='name' placeholder='Ваше имя')
      .feedback__input
        input.input(type='tel' name='phone' placeholder='Номер телефона')
      .feedback__input.feedback__input_last
        button.button обратиться к юристам!
    span.feedback__hint Или позвоните:
      a.feedback__phone.js-city__phone(href!="tel:+<?php echo preg_replace('/[^0-9]/', '', $phone); ?>") <?php echo $phone; ?>

