extends ../_template

include ../mixins/card-with-icon
include ../mixins/feedback

block variables
  <?php include 'php/logic.php'; ?>
  -
    var title = 'Ликвидация фирмы - Банкротовед';
    var description = 'Ликвидация фирмы - Банкротовед';
    var keywords = 'Ликвидация фирмы - Банкротовед';

block content
  .wrapper#top
    include ../common/slide1
    include ../common/slide2
    include ../common/slide3
    include ../common/slide4
    include ../common/slide5
    include ../common/slide6
    include ../common/slide7
    include ../common/slide8
    include ../common/slide9
    include ../common/slide10
    include ../common/bar-textnum
    include ../common/map
    include ../common/footer
    include ../common/popups
    a.upbtn(href="#top") Наверх

block scripts
  script addr = "<?php echo $addr; ?>";
  script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU' defer)
  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/app.js' defer)