/*-----------------------------------------------------------------------------
    Base
-----------------------------------------------------------------------------*/
html {
  font: 87.5%/1.22 $font1;
  @include breakpoint($screen1) {
    font-size: 75%;
  }
  @include breakpoint($screen2) {
    font-size: 65%;
  }
}

.body {
  color: $color1;
  background-color: #fff;
}

button, select {
  cursor: pointer;

  outline: none;
}

input {
  outline: none;
}
/*-----------------------------------------------------------------------------
    /Base
-----------------------------------------------------------------------------*/