@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem-generator($property, $values, $base-fontsize) {
  $px: ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px: append($px, $value);
        $rem: append($rem, ($val / $base-fontsize + rem));
      }

      @if $unit == "rem" {
        $px: append($px, ($val * $base-fontsize + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@mixin rem($property, $values) {
  @include rem-generator($property, $values, 14);
}

@mixin rem1($property, $values) {
  @include rem-generator($property, $values, 12);
}

@mixin rem2($property, $values) {
  @include rem-generator($property, $values, 10.4);
}